<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>GestionCommandesWebEmbedded</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>SearchArticleForm</display-name>
		<servlet-name>SearchArticleForm</servlet-name>
		<servlet-class>servlet.SearchArticleForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchArticleForm</servlet-name>
		<url-pattern>/SearchArticleForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchClientForm</display-name>
		<servlet-name>SearchClientForm</servlet-name>
		<servlet-class>servlet.SearchClientForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchClientForm</servlet-name>
		<url-pattern>/SearchClientForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ActionEntite</display-name>
		<servlet-name>ActionEntite</servlet-name>
		<servlet-class>servlet.ActionEntite</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActionEntite</servlet-name>
		<url-pattern>/ActionEntite</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Dispatcher</display-name>
		<servlet-name>Dispatcher</servlet-name>
		<servlet-class>servlet.Dispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dispatcher</servlet-name>
		<url-pattern>/Dispatcher</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ArticleForm</display-name>
		<servlet-name>ArticleForm</servlet-name>
		<servlet-class>servlet.ArticleForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArticleForm</servlet-name>
		<url-pattern>/ArticleForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClientForm</display-name>
		<servlet-name>ClientForm</servlet-name>
		<servlet-class>servlet.ClientForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientForm</servlet-name>
		<url-pattern>/ClientForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CommandeForm</display-name>
		<servlet-name>CommandeForm</servlet-name>
		<servlet-class>servlet.CommandeForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommandeForm</servlet-name>
		<url-pattern>/CommandeForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchCommandeForm</display-name>
		<servlet-name>SearchCommandeForm</servlet-name>
		<servlet-class>servlet.SearchCommandeForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchCommandeForm</servlet-name>
		<url-pattern>/SearchCommandeForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LigneCommandeForm</display-name>
		<servlet-name>LigneCommandeForm</servlet-name>
		<servlet-class>servlet.LigneCommandeForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LigneCommandeForm</servlet-name>
		<url-pattern>/LigneCommandeForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchLigneCommandeForm</display-name>
		<servlet-name>SearchLigneCommandeForm</servlet-name>
		<servlet-class>servlet.SearchLigneCommandeForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchLigneCommandeForm</servlet-name>
		<url-pattern>/SearchLigneCommandeForm</url-pattern>
	</servlet-mapping>
</web-app>